body{
    background-color: rgb(255, 255, 255);
}

header {
    font-size: 200%;
    background-color: #333;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

.container{
	content:center;
}

.kep{
    padding: auto;
    margin-top: 100px;
}
img{
    padding-right: 30px;
    padding-bottom: 30px;
    float: left;
    max-width: max-content;
    width: 105%;
    height: auto;
}

.szov{
    padding-left: 10px;
    max-width: fit-content;
    text-align: left;
}

h2 {
    font-size: 150%;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
	 font-family: Arial, sans-serif;
}
