body{
    overflow: auto;
    background-color: rgb(255, 255, 255);
}

header {
    font-size: 200%;
    background-color: #333;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

.container{
    position: relative;
	content:center;
}

.kep{
    padding: auto;
    margin-top: 100px;
}
img{
    padding-right: 30px;
    padding-bottom: 30px;
    float: left;
    max-width: max-content;
    width: 105%;
    height: auto;
}

.szov{
    padding-left: 10px;
    max-width: fit-content;
    text-align: left;
    margin:20px ;
}

h2 {
    font-size: 150%;
    background-color: #333;
    color: #fff;
    margin-top: 10px;
    padding: 10px 0;
	 font-family: Arial, sans-serif;
}


.főoldalra{
margin:1px;	
padding:3px;
text-align:left;
font-size: 100%;
background-color: #333;
color: #fff;
font-family: Arial, sans-serif;
font-weight:bold;
}

.főoldalra a{
	text-decoration:none;
}

.hozavalok{
    margin-top:75px ;
}
footer{
	margin:80px 0px 0px 30px;
	padding:5px;
	border-left:black solid 3px;
	background-color: gray;
	width:45px;
}

@media screen and (min-width:1000px) {
    .hozavalok{
        margin-top: 200px;
    }
}

